@font-face{
	font-family: 'Mulish-Bold';
	src: url('../fonts/Mulish/Mulish-Black.ttf') format('truetype'),
		 url('../fonts/Mulish/Mulish-Bold.ttf') format('truetype'),
         url('../fonts/Mulish/Mulish-ExtraBold.ttf') format('truetype'),
         url('../fonts/Mulish/Mulish-SemiBold.ttf') format('truetype'),
}
@font-face{
	font-family: 'Mulish-Light';
	src: url('../fonts/Mulish/Mulish-Light.ttf') format('truetype'),
		 url('../fonts/Mulish/Mulish-Medium.ttf') format('truetype'),
         url('../fonts/Mulish/Mulish-ExtraBold.ttf') format('truetype'),
         url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype'), 
}
html{
    font-size: 10px;
    font-family: 'Mulish-Light';
    color: rgb(0, 0, 0);
}
body{
    margin: 0;
}
.wrap{
    margin: 0 auto;
}
.wraper{
    margin: 0 auto;
    display: flex;
}

/* header */

.sidebar_menu{
    width: 300px;
    height: 100vh;
    background: rgb(255, 255, 255);
    position: fixed;
    right: -310px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: right .8s ease-in-out;
    box-shadow: 4px 0px 20px 5px rgba(0, 0, 0, 0.3);
    
    .close_bar_navigation_btn{
        font-size: 2.5rem;
        padding: 2rem 3rem;
        cursor: pointer;
        color: rgb(152, 152, 152);
        align-self: flex-end;
    }
    .btn_hover{
        color: rgb(37, 38, 42);
    }
    .item_hover{
        color: rgb(242, 58, 46);
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
    }
    ul > li {
        width: 100%;
    }

    ul > li > a{
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: rgb(0, 0, 0);
        font-size: 1.8rem;
        padding: 1rem 0 1rem 1rem;
        width: 100%;
    }
    li .active {
        color: rgb(242, 58, 46);
        box-sizing: border-box;
        
    }
}

.header_navigation{
    background: transparent;
    font-size: 2rem;
    position: fixed;
    width: 100%;

    .wraper{
        justify-content: space-between;
        padding: 2rem 0 1rem 0;
    }
    .bar_navigation_btn{
        cursor: pointer;
        color:rgb(255, 255, 255);
    }

    .item_hover{
        color: rgb(255, 255, 255);
    }

    ul{
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li a {
        display: block;
        padding: 0 1rem 1rem 1rem;
        text-decoration: none;
        text-transform: capitalize;
        color: rgb(255, 255, 255);
    }
    .active  {
        box-sizing: border-box;
        border-bottom: .1em solid rgb(255, 255, 255);
    }
} 

.header_navigation_colored{
    background-color: #fff;
    box-shadow: 4px 0px 20px -5px rgba(0, 0, 0, 0.2);
    transition: background-color .8s ease-in-out;
    li a {
        color:rgb(0, 0, 0);
    }
    
    .item_hover{
        color: rgb(242, 58, 46);
    }
    li .active{
        box-sizing: border-box;
        border-bottom: .1em solid rgb(242, 58, 46);
    }
    .logo > a{
        color:rgb(0, 0, 0);
        font-family: 'Mulish-Bold';
    }
    .bar_navigation_btn{
        color:rgb(0, 0, 0);
    }
}

.logo > a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Mulish-Bold';
    color: rgb(255, 255, 255);
}

/* main */

.main_wrap{

    .block_1{
        background: red;
        width: 100%;
        min-height: 100vh;
    }

    .motivation_wrap{
        .wraper{
            justify-content: center;
            align-items: center;
        }
        .motivation_img{
            height: 500px;
            width: 100%;
            background: rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                display: block;
                width: 100%;
                z-index: -1;
            }
        }
        .motivation_phrase{
            margin-top: -500px;
            height: 500px;
            color: rgb(255, 255, 255);  
        }
        .title{
            display: block;
            width: 100%;
            text-align: center;
            height: auto;
            font-size: 4.8rem;
            font-family: 'Mulish-Bold';
        }
        .description{
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }
    }
    .classes_wrap{
        background: rgb(255, 255, 255);
        font-size: 1.8rem;
        padding: 8rem 0;

        .wraper{
            flex-wrap: wrap;
            justify-content: center;
        }

        .title_wrap{
            width: 80%;
            text-align: center;
            margin-bottom: 4rem;
        }

        h2{
            color: black;
            font-size: 3rem;
            font-family: 'Mulish-Bold';
        }
        p{
            color: rgb(152, 152, 152);
        }
        .title{
            color: rgb(171, 171, 171);
        }
    }

    .classes_list_wrap{
        background: transparent;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        position: static;

            .class_wrap{
                border-radius: 3px;
                background: transparent;
                display: flex;
                justify-content: start;
                box-sizing: border-box;
                box-shadow: .1rem 1rem 1rem 0 rgba(0, 0, 0, 0.2);
                width: 49%;
                margin-bottom: 3rem;
                position: static;

                img{
                    width: 100%;
                    border-radius: 3px 0 0 3px;
                }
            }

            .fitness_class_hover{
                transform: scale(1.2);
                transition: all .4s ease-in-out;
                z-index: 10;
                background-color:  rgb(242, 58, 46);
                
                h3{
                    color: rgb(255, 255, 255);
                }
                span{
                    color: rgb(255, 124, 103);
                }
            }

            .image_wrap{
                width: 100px;
                height: 100px;
                border-radius: 3px 0 0 3px;
            }
            .description_wrap{
                padding-left: 2rem;
            }

            h3{
                font-size: 1.8rem;
                color: rgb(0, 0, 0);

            }
            span{
                font-size: 1.6rem;
                color: rgb(174, 174, 174);
            }



    }


    
}

/* footer */

.footer_navigation{
    background: rgb(255, 255, 255);
    font-size: 1.8rem;

    .wraper{
        background: transparent;
        height: 300px;
        justify-content: flex-end;
    }
    .footer_shedule,
    .footer_nav{
        width: 20%;
    }

    .footer_about{
        width: 60%;
    }

    h4{
        font-family: 'Mulish-Bold';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    
    .item_hover{
        color: rgb(199, 24, 12);
    }
    

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul > li > a{
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        color: rgb(242, 58, 46);
        padding: 0 0 1rem 0;
    }

}

/* adaptiv */

@media (min-width: 1401px){
    .wraper{
        float: none;
        width: 1200px;
    }

    /* header */
    .bar_navigation_btn{
        display: none;
    }
}
@media (min-width: 1201px) and (max-width: 1400px){
    .wraper{
        float: none;
        width: 1200px;
    }
    /* header */
    .bar_navigation_btn{
        display: none;
    }
}
@media (min-width: 993px) and (max-width: 1200px){
    .wraper{
        float: none;
        width: 93%;
    }
    /* header */
    .bar_navigation_btn{
        display: none;
    }
    /* main */
    .main_wrap{
        .motivation_wrap{
            .motivation_img{
                height: 450px;
                width: 150%;
            }        
            .motivation_phrase{
                margin-top: -450px;
                height: 450px;
            }
        }
        .classes_list_wrap{
            width: 90%;

            .class_wrap{
                width: 100%;
            }
        }

    }
}
@media (min-width: 767px) and (max-width: 992px){
    .wraper{
        float: none;
        width: 85%;
    }
    /* header */
    .main_nav{
        display: none;
    }
    .bar_navigation_btn{
        display: block;
    }
    /* main */
    .main_wrap{
        .motivation_wrap{
            .motivation_img{
                height: 400px;
                width: 150%;
            }

            .title{
                font-size: 3.2rem;
            }        
            .motivation_phrase{
                margin-top: -400px;
                height: 400px;
            }
        }
        .classes_list_wrap{
            width: 90%;

            .class_wrap{
                width: 100%;
            }
        }
    }
    /* footer */
    .footer_navigation{
        .wraper{
            flex-direction: column;
            height: auto;
            width: 85%;
        }
        .footer_shedule,
        .footer_nav,
        .footer_about{
            width: 100%;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .wraper{
        float: none;
        width: 90%;
    }
    /* header */
    .main_nav{
        display: none;
    }
    .bar_navigation_btn{
        display: block;
    }
    /* main */
    .main_wrap{
        .motivation_wrap{
            .motivation_img{
                height: 350px;
                width: 150%;
            }
            .title{
                font-size: 3.2rem;
            }       
            .motivation_phrase{
                margin-top: -350px;
                height: 350px;
            }
        } 
        .classes_list_wrap{
            width: 90%;

            .class_wrap{
                width: 100%;
            }
        } 

    }

    /* footer */
    .footer_navigation{
        .wraper{
            flex-direction: column;
            height: auto;
            width: 85%;
        }
        .footer_shedule,
        .footer_nav,
        .footer_about{
            width: 100%;
        }
    }
}
@media (max-width: 575px){
    .wraper{
        float: none;
        width: 90%;
    }
    /* header */
    .main_nav{
        display: none;
    }
    .bar_navigation_btn{
        display: block;
    }
    /* main */
    .main_wrap{
        .motivation_wrap{
            .motivation_img{
                height: 300px;
                width: 150%;
            }
            
            .title{
                font-size: 3.2rem;
            }
            .motivation_phrase{
                margin-top: -300px;
                height: 300px;
            }
            
        }
        .classes_list_wrap{
            width: 90%;

            .class_wrap{
                width: 100%;
            }
        }
    }

    /* footer */
    .footer_navigation{
        .wraper{
            flex-direction: column;
            height: auto;
            width: 85%;
        }
        .footer_shedule,
        .footer_nav,
        .footer_about{
            width: 100%;
        }
    }
}





